html {
    background-color: #353a37;
    color:antiquewhite;
    font-size: 14px;
    font-family: "Arial", sans-serif;
}

body {
    margin: 0px;
}

button {
    background:rgb(0, 15, 148);
    color:antiquewhite;
    box-shadow: none;
    border: none;
    padding: 6px 15px;
    text-decoration: none;
    text-align: center;
    border-radius: 6px;
    transition-duration: 0.2s;
    cursor: pointer;
}

button:hover {
    background:rgb(0, 22, 224);
    cursor: pointer;
}

a {
    color: inherit;
    text-decoration: none;
}

ul {
    padding-left: 15px;
    padding-right: 15px;
}

li {
    margin: 10px 0;
}

.category {
    padding-bottom: 5px;
}

.about {
    background-color: rgb(24, 24, 24);
    padding-top: 50px;
    padding-left: 100px;
    padding-right: 100px;
    padding-bottom: 50px;
    gap: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.about .info #links {
    display: flex;
    gap: 20px;
    margin: 0px;
}

.about.photo {
    width: 50%;
    max-width: 50%;
    height: auto;
}

.area {
    /* display: flex;
    justify-content: center;
    flex-direction: column; */
    padding-top: 50px;
    padding-left: 100px;
    padding-right: 100px;
    padding-bottom: 0px;
}


@media (max-width: 800px){
    .about{
        flex-direction: column;
    }

    .about.photo {
        max-width: 50%;
        max-height: 50%;
    }

    .area {
        /* flex-direction: column; */
        padding-left: 10%;
        padding-right: 10%;
        text-align: left;
    }
}

.item {
    padding-bottom: 20px;
}

.prebottom {
    padding: 25px;
}

.bottom {
    background-color: rgb(24, 24, 24);
    padding: 50px;
}